<!-- URL Controller -->
<script type="text/javascript" src="../../controllers/urlController.js"></script>

<script type="text/javascript" src="../../controllers/Layouts/_PhysicianLayoutController.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <section class="navbar-brand text-center ms-5">
      <img src="../../assets/image/logo/logo.png" alt="404" width="50" height="50" class="d-inline-block text-center">
      <label class="h3 justify-content-center">HealthPlus</label>
    </section>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" id="dashTab"><i class="fas fa-home"></i>&nbsp;Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="medTab" role="button" aria-expanded="false">
              <i class="fas fa-circle"></i>&nbsp;Medications
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="appTab" role="button" aria-expanded="false">
            <i class="fas fa-circle"></i>&nbsp;My Appointment
          </a>
      </li>
        <li class="nav-item">
            <button class="btn btn-dark text-danger" id="logoutTab"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>