<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physician | HealthPlus</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/logo.png">

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>

    <!-- URL Controller -->
    <script type="text/javascript" src="../../controllers/urlController.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="../../controllers/Physician/DashboardController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid mb-lg-5" id="topLayout" style="padding-bottom: 2vh;"></div>
    <hr class="bg-primary w-50 mx-auto mb-4">

    <div class="card-group w-75 mx-auto">
        <div class="mx-2 card border rounded-3">
            <div class="card-body">
                <h5 class="card-title text-center">Todays Appointments</h5>
                <hr class="bg-dark w-50 mx-auto mb-4">
                <p class="card-text">Appointments: 15</p>
                <p class="card-text">Canceled Appointments: 3</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"></small>
            </div>
        </div>
        <div class="mx-2 card border rounded-3">
            <div class="card-body">
                <h5 class="card-title text-center">Total Appointments</h5>
                <hr class="bg-dark w-50 mx-auto mb-4">
                <p class="card-text">Appointments: 135</p>
                <p class="card-text">Canceled Appointments: 20</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"></small>
            </div>
        </div>
    </div>
    <hr class="bg-primary w-50 mx-auto mt-4">
    </div>
    <div class="mt-5" id="bottomLayout"></div>
</body>

</html>